td a:link, td a:visited, td a:active {
  text-decoration: none;
}

.head a:link, .head a:visited, .head a:active {
  color:yellow;
  text-decoration: none;
}
.head a:hover {
  color:white;
}

.foot a:link, .foot a:visited, .foot a:active {
  color:white;
  text-decoration: none;
}

.foot a:hover {
  color:black;
}

h1 {
  color: blue;
  text-align: center;
  font-size: 3em;
}

#table1 {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 70%
}

#kindle {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h2 {
  color:blue;
  font-size: 2.3em;
}

h3 {
  font-size: 1.9em;
}

#table2 {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

#printer {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#table3 {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

#usb {
  margin-left: auto;
  margin-right: auto;
  display: block;
}